<head>
    <title> Test Email </title>

    <style>
        .text {
            font-size: 20px;
            line-height: 24px;
            font-family: 'Calibri';
            padding: 2%;
        }
        .container {
            text-align: center;
            width: 60%;
            max-width: 800px;
        }
        .content-container {
            text-align: center;
            width: 50%;
        }
        .logo {
            width: 200px; 
            max-width: 200px; 
            height: 100px; 
            max-height: 100px; 
            padding: 2%
        }
    </style>
</head>

<body>
    

    <!-- Start single column section -->
    <table id="main-container" class="container" style="background-color: #fff;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Logo -->
                    <img class="logo" src="cid:testLogo" alt="Logo">
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Email Contents -->
                    <h1 class="text"> {{title}} </h1>
                    <p class="text"> Hello {{user}}, Your vehicle currently parked at {{zone}} has finished charger! </p>
                    <p class="text"> In order to give everyone a chance to charge please consider moving your vehicle when safe to do so. </p>
                    <p class="text"> There are currently {{queueSize}} people waiting for an opportunity to charge at this location. </p>
                    </p>              
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End single column section -->

    <!-- Start footer -->
    <table class="container" style="background-color: #047508;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Your inverted logo is here -->
                    <img class="logo" alt="Logo" src="cid:testLogo" align="center">

                    <p class="text">
                        MengDevChargers@Gmail.com
                        </a>
                    </p>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- End footer -->

    <!-- Ending Note -->
    <div class="text" align="center">
        <p> Development of this application is ongoing, there may be bugs.</p>
    </div>
</body>

</html>