<html>
    <head> Login </head>
    <body>
        <h1>Heriot-Watt EV Charging</h1>
        <h2> Hello {{user}} </h2>
        <p> Follow this link to login {{link}}</p>
        <a href='{{link}}'>Log in</a>
    </body>
</html>