<head>
    <title> Test Email </title>

    <style>
        .text {
            font-size: 20px;
            line-height: 24px;
            font-family: 'Calibri';
            padding: 2%;
        }
        .container {
            text-align: center;
            width: 60%;
            max-width: 800px;
        }
        .content-container {
            text-align: center;
            width: 50%;
        }
        .logo {
            padding: 2%
        }
    </style>
</head>

<body>
    

    <!-- Start single column section -->
    <table id="main-container" class="container" style="background-color: #fff;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Logo -->
                    <img class="logo" src="cid:greenLogo" alt="Logo">
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Email Contents -->
                    <h1 class="text"> <b>{{title}}</b> </h1>
                    <p class="text"> Hello, Good News! </p>
                    <p class="text"> A space is now available at <b>{{location}}</b> </p>
                    <p class="text"> Please make your way there and report your car as charging when safe to do so. </p>
                    <p class="text"> Your space is reserved for the next 30 minutes. </p>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:5%">
                        <tr>
                            <td style="padding: 12px 18px 12px 18px; border-radius:5px; background-color: #047508;" align="center">
                                <a rel="noopener" target="_blank" href={{checkIn}} target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">Check in &rarr;</a>
                            </td>
                            <td style="padding: 12px 18px 12px 18px; border-radius:5px; background-color: #047508;" align="center">
                                <a rel="noopener" target="_blank" href={{directions}} target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">Directions &rarrlp;</a>
                            </td>
                        </tr>
                    </table>       
                    </p>              
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End single column section -->

    <!-- Start footer -->
    <table class="container" style="background-color: #047508;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Your inverted logo is here -->
                    <img class="logo" alt="Logo" src="cid:whiteLogo" align="center">

                    <p class="text">
                        <i>MengDevChargers@Gmail.com</i>
                    </p>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- End footer -->

    <!-- Ending Note -->
    <div class="text" align="center">
        <p> Development of this application is ongoing, there may be bugs.</p>
    </div>
</body>

</html>