<head>
    <title> Test Email </title>

    <style>
        .text {
            font-size: 20px;
            line-height: 24px;
            font-family: 'Calibri';
            padding: 2%;
        }
        .container {
            text-align: center;
            width: 60%;
            max-width: 800px;
        }
        .content-container {
            text-align: center;
            width: 50%;
        }
        .logo {
            padding: 2%
        }
    </style>
</head>

<body>
    

    <!-- Start single column section -->
    <table id="main-container" class="container" style="background-color: #fff;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Logo -->
                    <img class="logo" src="cid:logo" alt="Logo">
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Email Contents -->
                    <h1 class="text"> <b>{{title}}</b> </h1>
                    <p class="text"> Hello <b>{{user}}</b>, Good News! </p>
                    <p class="text"> A space is now available at <b>{{zone}}</b> </p>
                    <p class="text"> Please make your way there and report your car as charging when safe to do so. </p>
                    </p>              
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End single column section -->

    <!-- Start footer -->
    <table class="container" style="background-color: #047508;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Your inverted logo is here -->
                    <img class="logo" alt="Logo" src="cid:logo" align="center">

                    <p class="text">
                        <i>MengDevChargers@Gmail.com</i>
                    </p>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- End footer -->

    <!-- Ending Note -->
    <div class="text" align="center">
        <p> Development of this application is ongoing, there may be bugs.</p>
    </div>
</body>

</html>