<head>
    <title> Test Email </title>

    <style>
        .text {
            font-size: 20px;
            line-height: 24px;
            font-family: 'Calibri';
        }
        .container {
            text-align: center;
            width: 60%;
            max-width: 800px;
        }
        .content-container {
            text-align: center;
            width: 50%;
        }
        .logo {
            padding: 2%
        }
    </style>
</head>

<body>
    <!-- Start single column section -->
    <table class="container" style="background-color: #fff;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Logo -->
                    <img class="logo" src="cid:logo" alt="Logo">
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Email Contents -->
                    <h1 class="text"><b> {{title}} <b></h1>
                    <p class="text"> Apologies if you are seeing this message it means an error has resulted. You may disregard this email.</p>              
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End single column section -->

    <!-- Start footer -->
    <table class="container" style="background-color: #047508;" align="center">
        <tbody>
            <tr>
                <td>
                    <!-- Your inverted logo is here -->
                    <img class="logo" alt="Logo" src="cid:logo" align="center">

                    <p class="text">
                       <i> MengDevChargers@Gmail.com </i>
                    </p>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Ending Note -->
    <table class="container" style="background-color: #fff;" align="center">
        <tbody>
            <tr>
                <td>
                    <p class="text"> Development of this application is ongoing, there may be bugs.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>